
body.modal-open {
    overflow: hidden;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: auto;
}

/*  Fonts INTER   */
@font-face {
    font-family: 'Inter-Black';
    src: url('../fonts/INTER/Inter-Black.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../fonts/INTER/Inter-Bold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter-ExtraBold';
    src: url('../fonts/INTER/Inter-ExtraBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter-ExtraLight';
    src: url('../fonts/INTER/Inter-ExtraLight.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter-Light';
    src: url('../fonts/INTER/Inter-Light.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter-Medium';
    src: url('../fonts/INTER/Inter-Medium.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('../fonts/INTER/Inter-Regular.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('../fonts/INTER/Inter-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter-Thin';
    src: url('../fonts/INTER/Inter-Thin.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/*  Amor  */
@font-face {
    font-family: 'AmorSansPro';
    src: url('../fonts/Amor/AmorSansPro.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSansProBold';
    src: url('../fonts/Amor/AmorSansProBold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSansProItalic';
    src: url('../fonts/Amor/AmorSansProItalic.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmorSansProBoldItalic';
    src: url('../fonts/Amor/AmorSansProBoldItalic.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSansTextPro';
    src: url('../fonts/Amor/AmorSansTextPro.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSansTextProBold';
    src: url('../fonts/Amor/AmorSansTextProBold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSansTextProBoldItalic';
    src: url('../fonts/Amor/AmorSansTextProBoldItalic.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSansTextProItalic';
    src: url('../fonts/Amor/AmorSansTextProItalic.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSerifPro';
    src: url('../fonts/Amor/AmorSerifPro.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSerifProBold';
    src: url('../fonts/Amor/AmorSerifProBold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSerifProBoldItalic';
    src: url('../fonts/Amor/AmorSerifProBoldItalic.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSerifProItalic';
    src: url('../fonts/Amor/AmorSerifProItalic.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSerifTextPro';
    src: url('../fonts/Amor/AmorSerifTextPro.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSerifTextProBold';
    src: url('../fonts/Amor/AmorSerifTextProBold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSerifTextProBoldItalic';
    src: url('../fonts/Amor/AmorSerifTextProBoldItalic.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AmorSerifTextProItalic';
    src: url('../fonts/Amor/AmorSerifTextProItalic.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/*  Bree  */
@font-face {
    font-family: 'BreeBold';
    src: url('../fonts/Bree/BreeBold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/*  Bree  */
@font-face {
    font-family: 'Bree-SemiBold';
    src: url('../fonts/Bree/bree-semibold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BreeExtrabold';
    src: url('../fonts/Bree/BreeExtrabold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BreeLight';
    src: url('../fonts/Bree/BreeLight.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BreeOblique_Bold';
    src: url('../fonts/Bree/BreeOblique_Bold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BreeOblique_Extrabold';
    src: url('../fonts/Bree/BreeOblique_Extrabold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BreeOblique_Light';
    src: url('../fonts/Bree/BreeOblique_Light.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BreeOblique_Reg';
    src: url('../fonts/Bree/BreeOblique_Reg.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BreeOblique_Thin';
    src: url('../fonts/Bree/BreeOblique_Thin.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BreeRegular';
    src: url('../fonts/Bree/BreeRegular.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BreeSerif-Regular';
    src: url('../fonts/Bree/BreeSerif-Regular.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BreeThin';
    src: url('../fonts/Bree/BreeThin.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    width: 85% !important;
}

.row > * {
    padding-left: 0.5rem; /* Nuevo valor para padding-left */
    padding-right: 0.5rem; /* Nuevo valor para padding-right */
}

h3{
    font-family: 'BreeRegular';
    color: #CE0058;

}
h4{
    font-family: 'BreeRegular';
    color:#D50057;
}
h5{
    font-family: 'Inter-Bold';
    font-size: 1.1rem;
}


img{
    max-width:100%;
}
h3{
    font-size: 48px;
}
main h1{
    color: #CE0058;
    font-family: 'BreeBold';
    font-size: 80px;
    line-height: 72px;
    font-weight: 400;
    margin-bottom: 40px !important;
    
}

main h2 {
    color: #CE0058; /* Usando el mismo color que h1 para consistencia */
    font-family: 'BreeBold';
    font-size: 64px; /* Tamaño de fuente específico para h2 */
    line-height: 56px;
    font-weight: 400;
    margin-bottom: 40px !important;
}

main h3 {
    color: #CE0058;
    font-family: 'Bree-SemiBold';
    font-size: 48px; /* Tamaño de fuente para h3 */
    line-height: 48px;
    font-weight: 400;
    margin-bottom: 32px !important;
}

main h4 {
    font-size: 28px; /* Tamaño de fuente para h4 */
    color: #CE0058;
    font-family: 'BreeBold';
    font-size: 30px; /* Tamaño de fuente para h3 */
    line-height: 34px;
    font-weight: 400;
}

main h5 {
    font-size: 24px; /* Tamaño de fuente para h5 */
    color: #CE0058;
    font-family: 'BreeBold';
    font-size: 24px; /* Tamaño de fuente para h3 */
    line-height: 32px;
    font-weight: 400;
}

main h6 {
    font-size: 20px; /* Tamaño de fuente para h6 */
    color: #CE0058;
    font-family: 'BreeBold';
    font-size: 18px; /* Tamaño de fuente para h3 */
    line-height: 24px;
    font-weight: 400;
}
p {
    text-wrap: pretty;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #252A2D;
}


header,footer{
    background-color: #FFFFFF;
    min-height: 57px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

}
header img{
    max-width: 134px;
    margin: 0 auto;
    display: block;
}
header .container{
    padding: 15px 0;
}
aside a:hover{
    color: #CE0058;
    text-decoration:underline;
}
aside a{
    display: block;
    text-decoration: none;
    color: #252A2D;
    font-size: 13px;
    font-family: 'AmorSansPro';
}
aside a.title:hover{
    
    text-decoration:none;
}
aside a.title{
    color: #CE0058;
    font-size: 18px;
    padding: 10px 0;
    font-family: 'AmorSansProBold';
    font-weight:bold;
}
aside a.Editables{
    font-family: 'AmorSansProItalic';
    color: #847770;
}
img{
    max-width:100%;
}
.Desktop{
    display: block;
}
.Mobile{
    display:none;
}
p{
    font-size: 20px;
    color: #252A2D;
}
.slick-slide img{
    padding:0 5px;
}
.slick-dotted.slick-slider{
    max-width:100%;
}

/* Nuestra Marca */

.articleRectangle{
    position:relative;
    text-align: center;
    color: white;
}
.articleRectangle span{
    font-family: 'BreeRegular';
}
.articleRectangle span.title{
    font-size: 2rem;
}
#tonoyvoz .articleRectangle span.title{
    font-size: 1em;
    width: 60%;
    position: relative;
    display: block;
    margin: 0vw auto 0 auto;
    text-align: left;
}
#tonoyvoz span.gray{
    color: #847770;
    font-family: 'BreeRegular';
    text-align: center;
    display: block;
    font-size: 30px;
}
.rectangle{
    position:absolute;
    top:0;
    left: 0;
    z-index: -1;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}
#tipscomunicacion article p strong{
    font-family: 'Inter-Bold';
}
#tipscomunicacion article.row p{
    font-family: 'Inter-Regular';
    padding-top: 30px;
}
.borderLeft p{
    border-right: solid 2px #D50057;
    padding-right: calc(var(--bs-gutter-x) * 1);
}
#introduccion .articleRectangle:first-child span{
    display: block;
    padding: 0 0 1.25vw 0;
}
#introduccion .articleRectangle:nth-child(2) span{
    display: block;
    padding: 0 0 0 0;
}
#iconFlecha{
    position: fixed;
    bottom: 10%;
    right: 2%;
    width: 30px;
    z-index: 99;
}
/* Estilo base para .btn-primary */
.btn-primary {
    background: #CE0058;
    color: white;
    padding: 12px 30px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    width: 272px; /* Ancho fijo para resoluciones mayores */
    height: 56px;
    border: none;
    transition: background 0.3s ease;
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.btn-primary:hover, .btn-primary:active {
    background: #910048;
    color: white;
}

/* Media query para dispositivos con ancho máximo de 768px */
@media (max-width: 768px) {
    .btn-primary {
        width: 100%; /* Ancho total en dispositivos pequeños */
        padding: 12px 20px; /* Ajuste opcional del padding para dispositivos pequeños */
        margin-bottom: 15px;
    }
}


/* Estilo base para .btn-secondary */
.btn-secondary {
    background: transparent;
    color: #CE0058;
    padding: 12px 30px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    width: 272px; /* Ancho fijo para resoluciones mayores */
    height: 56px;
    border: 2px solid #CE0058; /* Borde sólido con el color especificado */
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transiciones suaves */
    margin-right: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.btn-secondary:hover, .btn-secondary:active {
    color: #910048; /* Cambio de color en hover y active */
    border-color: #910048; /* Cambio de color de borde en hover y active */
}

/* Media query para dispositivos con ancho máximo de 768px */
@media (max-width: 768px) {
    .btn-secondary {
        width: 100%; /* Ancho total en dispositivos pequeños */
        padding: 12px 20px; /* Ajuste opcional del padding para dispositivos pequeños */
        margin-bottom: 15px;
    }
}


.btn.downloadIcon{
    width: 330px; /* Ancho fijo, no especificado en la media query */
}

footer{
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
footer .container{
    text-align: center;
    padding: 20px 0 35px 0;
    font-size: 14px;
}
footer .container img{
    vertical-align: bottom;
    padding-bottom: 6px;
    margin: 0 5px;
}
.modal-header{
    border:none;
}
.modal-header span.modal-title{
    font-family: 'Inter-Bold';
    font-size: 26px !important;
    color: #252A2D;
    margin-right: -120px;
}
.modal{
    --bs-modal-width:1200px;
}
.modal-header .btn-close{
    margin:0;
}
#divDownloadPostal, #divDownloadLonas{
    display: none;
    box-shadow: 2px 6px 18px #00000029;
    border-radius: 24px;
    padding: 30px 60px;
    position: absolute;
    z-index: 9;
    background: white;
    top: 90px;
    right: 4%;
}
#divDownloadPostal > div.active, #divDownloadLonas > div.active{
    opacity: 1;
}
#divDownloadPostal > div, #divDownloadLonas > div{
    position:relative;
    cursor: pointer;
    opacity: 0.7;
}
#divDownloadPostal > div > img, #divDownloadLonas > div > img{
    right: 0;
    position: absolute;
}
.modal-content{
    padding:0px 30px;
}
.collapsed 
.navbar-toggler-icon{
    background-image: url(../img/icon_menu.png);
}
.navbar-toggler-icon{
    background-image: url(../img/icon_menu_cerrar.png);
    height: 40px;
    width: 40px;
}

.modal-body img{
    display: block;
    margin: 0 auto;
    max-width: 65%;
}
.modal-body span{
    text-align: center;
    color: #847770;
    font-size: 16px;
    display: block;
}
.btn.displayDownloadOptions img{
    position: absolute;
    margin-left: 14px;
    margin-top: 3px;
}


@media (max-width: 992px) {
    .btn {
        width: 100%;
        padding: 16px 10px;
    }
    main h1{
        font-size: 38px;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 18px;
        margin-bottom: 0.3rem;
    }
    .navbar-toggler{
        border:none;
        box-shadow: none !important;
    }
    .MenuMobile .row{
        margin:0;
    }
    .MenuMobile .navbar{
        padding:0;
        background-color: transparent !important;
    }
    #menuItems{
        border-top:#00000029 solid 1px;
        background-color: white;
        text-align: left;
        padding-left: 35px;
        padding-right: 35px;
        width: 100%;
        height: 847px;
        margin-top: 15px;
    }
    #menuItems a{
        font-family: 'AmorSansPro';
        font-size:16px;
        padding:2px 0;
        color: #252A2D !important;
    }
    
    #menuItems a.title{
        font-family: 'AmorSansProBold';
        font-weight: bold;
        padding: 10px 0;
        color: #CE0058 !important;
    }
    header{
        padding:10px 0;
    }
    aside{
        display:none;
    }
    .Desktop{
        display: none !important;
    }
    .Mobile{
        display:block;
    }
    .modal-body img{
        max-width: 100%;
        width: 100%;
    }
    .modal-header span.modal-title{
        font-size: 20px !important;
        display:block;
        position: absolute;
        top: 61px;
        width: 100%;
        z-index: 9;
        text-align: center;
        left: 0;
    }
    .btn.downloadIcon{
        font-size: 13px;
        width: 100%;
        padding: 14px 10px;
    }
    .modal-body{
        padding:0
    }
    .btn.displayDownloadOptions{
        display: block;
        position: absolute;
        top: 146px;
        width: 80%;
        z-index: 9;
        text-align: center;
        left: 10%;
    }
    footer .container{
        width: 86%;
    }
    header img{
        margin: 0;
    }
}
@media (max-width: 992px) {
    .articleRectangle span.title{
        font-size: 20px;
    }
    #introduccion .articleRectangle:first-child span{
            font-size: 12px;
            padding: 16px;
            margin-bottom: 110px;
    }
    #introduccion .articleRectangle:nth-child(2) span{
        padding: 20px;
    }
    .articleRectangle{
        margin-top:20px;
    }
    #tonoyvoz span.gray{
        font-size:17px;
    }
    #tonoyvoz .articleRectangle span.title{
        font-size: 9px;
        padding-top: 12px;
    }
    #tonoyvoz .articleRectangle:nth-child(2) span.title{
        padding-top: 22px;
    }
    #tonoyvoz .articleRectangle:nth-child(3) span.title{
        padding-top: 13px;
    }
    .borderLeft p{
        border:none;
        padding:initial
    }
    #menuItems a.Editables{
        font-family: 'AmorSansProItalic';
        color:#847770 !important;
    }
    #divDownloadPostal, #divDownloadLonas{
        width: 80%;
        top: 210px;
        font-size: 14px !important;
        padding: 30px 20px;
    }
    .modal-header .btn-close{
        margin-bottom: 150px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #introduccion .articleRectangle:nth-child(2) span{
      font-size: 25px;
      padding-top: 50px;
  }
    .articleRectangle span.title{
        font-size:40px;
        padding-top: 32px;
        display: block;
    }
    #introduccion .articleRectangle:first-child span{
        font-size: 18px;
        padding-top: 36px;
    }
    .articleRectangle{
        padding-bottom: 100px;
    }
    #tonoyvoz br.Mobile{
        display:none;
    }
    #tonoyvoz .articleRectangle span.title{
        font-size: 14px;
        padding-top: 44px;
    }
    #tonoyvoz .articleRectangle:nth-child(3) span.title{
        padding-top: 30px;
    }
    #tonoyvoz .articleRectangle:nth-child(2) span.title{
        padding-top:40px
    }
    #tipscomunicacion br:first-child,
    #tipscomunicacion br:nth-child(2),
    #tipscomunicacion br:nth-child(3){
        display:none;
    }
}

.navbar {
    justify-content: center;
}
.main-section {
    text-align: center;
    margin-top: 0px;
}
.header img {
    width: 150px;
}
.title {
    font-size: 2em;
    color: #c01a5b;
}
.description {
    margin-top: 10px;
    color: #333;
}
.event-image {
    margin-top: 30px;
    color: #c01a5b;
}
.event-image img {
    width: 80px;
}
.social-media {
    margin-top: 50px;
}
.footer {
    color: #999;
    font-size: 0.9em;   
}

.container-ec24 {
    max-width: 800px;
}


.custom-select {
    border: 1px solid #AFB3B6;
    height: 56px;
    width: 380px;
}

@media (max-width: 540px) {
    .custom-select {
        width: 360px;
    }
}

@media (max-width: 376px) {
    .custom-select {
        width: 320px;
    }
}


.form-label-left {
    display: flex;
    align-items: center;
  }

.form-label-left label {
    margin-right: 10px;
    margin-bottom: 0;
  }

label {
    display: flex !important;
    font-family: Inter-SemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #252A2D;

}
.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: 0 !important;
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}

.select-mrg {
    padding: 56px 0 56px 0;
}

.select-mrg .space-social {
    padding: 40px 0 40px 0;
}

.select-mrg .space-social a {
    margin: 0 16px 0 16px;
}

.select-mrg .space-social a img {
    width: 32px;
}

hr {
    border: 1px solid #EFEFEF;
    margin: 0 !important;
}

.section-img-none {
    padding: 160px 0 160px 0;
}

.section-img-none img{
    margin: 0 0 24px 0;
}

.section-img-none p {
    margin: 0;
}

.p-title {
    font-family: Inter-SemiBold;
    font-size: 18px !important;
    font-weight: 600!important;
    line-height: 28px!important;
    color: #252A2D!important;
}


.img-custom {
    height: 80px !important;
    width: auto;
}

.footer {
    border-top: 1px solid #EFEFEF !important;
    padding-top: 10px; /* Ajusta el padding según sea necesario */
}

.footer-terms {
    display: inline-grid;
    padding: 32px 0 32px 0;
}

.footer-terms a {
   color: #CE0058;
   padding-bottom: 8px;
   font-family: Inter-Regular;
   font-size: 14px;
   font-weight: 400;
   line-height: 24px;
   text-align: center;
   text-decoration: underline;
   font-variation-settings: 'slnt' 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 8px;
    overflow: hidden; /* Añadido para evitar desbordamientos */
}


.card-02 {
    transition: 0.3s;
    padding: 0px;
    height: auto;
    overflow: hidden; /* Añadido para evitar desbordamientos */
}

.grid-slider-p {
    padding: 4px;
}

@media (max-width: 480px) {
    .grid-slider-p {
        padding: 8px; /* Reduce el padding para pantallas pequeñas */
        margin-bottom: 4px; /* Ajusta el margen inferior para pantallas pequeñas */
    }
    .card {
        width: 100%; /* Asegura que las tarjetas ocupen todo el ancho disponible */
        height: 152px; /* Ajusta la altura automáticamente */
    }
    .card-img-top {
        width: 100%;
        padding: 0px;
        object-fit: cover;
        transition: transform 0.5s ease;
    }
}


.body-content-card {
    margin-top: 16px;
}

.body-content-card .tittle-card-01 {
    color: #252A2D;
}

.body-content-card .sub-card-02 {
    color: #5E6A71;
}


.img-container {
    overflow: hidden; /* Asegura que la imagen no se desborde */
    border-radius: 8px;
}

.card-img-top {
    width: 100%;
    padding: 4px;
    object-fit: cover;
    transition: transform 0.5s ease; /* Transición para el efecto de zoom */
}

.zoom-effect:hover .card-img-top {
    transform: scale(1.2); /* Efecto de zoom */
}


.no-margin {
    margin: 0 !important;
}

.left-align {
    text-align: left !important;
}

.right-align {
    text-align: right !important;
}

.center-align {
    text-align: center !important;
}


.slider-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
   
}

.slider-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.slider-title .titlte-01 .tittle-m {
    font-family: Inter-SemiBold;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
    color: #252A2D;

}

.slider-title .titlte-01 .tittle-s {
   font-family: Iter-Reular;
   font-size: 18px;
   font-weight: 400;
   line-height: 28px;
   text-align: left;
   color: #5E6A71;
}



.slide img {
    font-family: Iter-Regular;
    width: 100%;
    border-radius: 8px;
}

a.prev, a.next {
    background-color: #EFEFEF;
    color: #CE0058;
    border: none;
    display: inline-block;
    padding: 6px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    text-decoration: none;
}


@media (max-width: 480px) {
    a.prev, a.next {
        background-color: #EFEFEF;
        color: #CE0058;
        border: none;
        display: inline-block;
        padding: 3px;
        width: 32px;
        height: 32px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        text-decoration: none;
    }
    .next {
        margin-left: 8px;
    }

    .prev {
        margin-left: 8px;
    }
}

a.prev:hover, a.next:hover {
    background-color: #CE0058;
    color: #FFFFFF;
}

.prev {
    margin-left: 16px;
}

.next {
    margin-left: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    background-color: rgba(0, 0, 0, 0.81); /* Fondo semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.close {
    position: absolute;
    top: 0px;
    right: 16px;
    font-size: 32px;
    cursor: pointer;
    color: white;
}

.numbertext {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 20px;
    font-size: 18px;
    color: white; /* Asegúrate de que sea visible */
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 5px 10px;
    font-family: 'Inter-Regular';
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 75%; /* Ajusta esto según lo grande que quieras la imagen */
    background: transparent; /* Fondo transparente */
    display: flex;
    margin-top: 2%;
    justify-content: center;
    flex-direction: column;
    border: transparent; /* Fondo transparente */
}

@media (max-width: 480px) {
    .modal-content {
        position: fixed; /* Cambiado de relative a fixed para centrar */
        top: 50%; /* Centrar verticalmente */
        left: 50%; /* Centrar horizontalmente */
        transform: translate(-50%, -50%); /* Ajustar para centrar correctamente */
        margin: 0; /* Eliminar margen adicional */
        width: 100%; /* Ajustar el ancho para que no sea 100%, sino un poco menos */
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra si es necesario */
        z-index: 1000; /* Asegurar que esté sobre otros elementos */
    }
}



.centered-img {
    width: 100%;
    height: auto;
    max-width: 800px; /* Tamaño máximo en pantallas grandes */
}

@media (max-width: 768px) {
    .centered-img {
        max-width: 100%; /* Ajusta para pantallas móviles */
    }
}

.mySlides {
    display: none;
    text-align: center;
}

.centered-img {
    margin: auto;
    display: block;
}

.gallery-prev,
.gallery-next {
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.div-btn-prev-next {
   display: flex;
   align-items: center;
}

.gallery-next {
    right: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-right: 19px;
    margin-left: 19px;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;

}

@media (max-width: 480px) {
    .gallery-next {
        display: none;
    
    }
       
}

.gallery-prev {
    left: 0;
    width: 40px;
    height: 40px;
    padding-right: 19px;
    margin-left: 19px;
    border-radius: 50%;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}

@media (max-width: 480px) {
    .gallery-prev {
        display: none;
    }
       
}
.gallery-prev:hover,
.gallery-next:hover {
    background-color: #131313;
}

.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
}

.modal-footer {
    position: absolute;
    bottom: 24px; /* Espacio desde el borde inferior */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    gap: 10px;
    border-top: transparent;
}




.dual-button {
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 24px;
    padding: 10px 20px;
    width: 257px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.button-left, .button-right {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Inter-Regular';
    text-decoration: none;
}

.svg-img-btn {
    padding-right: 8px;
}


.separator {
    width: 1px;
    height: 24px;
    background-color: #555;
    margin: 0 10px;
}

.icon-download::before, .icon-share::before {
    content: '';
    display: inline-block;
    margin-right: 8px;
}

.icon-download::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-download" viewBox="0 0 16 16"><path d="M.5 9.9a.5.5 0 0 1 .5.5V13a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.6a.5.5 0 0 1 1 0V13a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V10.4a.5.5 0 0 1 .5-.5z"/><path d="M5.646 7.854a.5.5 0 0 1 .708 0L8 9.5l1.646-1.646a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708z"/><path d="M8 1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 1z"/></svg>');
}

.icon-share::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-share" viewBox="0 0 16 16"><path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11.025 2.075A2.498 2.498 0 0 1 13.5 1a2.5 2.5 0 1 1-2.475 2.574l-4.212 2.457a2.501 2.501 0 1 1 0 3.938l4.212 2.457a2.5 2.5 0 1 1-.492.87l-4.213-2.457A2.501 2.501 0 1 1 3.5 8a2.5 2.5 0 1 1 1.319-4.574l4.213-2.457a2.502 2.502 0 0 1 1.993-.894zM2 8a1.5 1.5 0 1 0 3.002-.001A1.5 1.5 0 0 0 2 8zm9 5.5a1.5 1.5 0 1 0 3 0 1.5 1.5 0 0 0-3 0z"/></svg>');
}

.form-select {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    display: block;
    color: #5E6A71;
    font-family: Inter-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    background-color: var(--bs-body-bg);
    background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.modal-body {
    padding: 0;
  }
  .share-options {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .share-options li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  .share-options li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
  }
  .share-options li a i {
    margin-right: 10px;
  }



  #openPopup {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup-bottom {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    z-index: 1000;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    overflow: auto;
}

.popup-content {
    padding: 20px;
}

.close-btn {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.show {
    display: block; /* Show the modal */
    transform: translateY(0); /* Slide up the modal */
}

.show-overlay {
    display: block; /* Show the overlay */
    opacity: 1;
}

.share-p {
    font-family: Inter-SemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
}

.m-social-n {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #5E6A71;
}

.m-social-n img {
    margin-right: 8px;
}

.header-modal-s {
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.dragging-s {
    width: 80px;
    height: 4px;
    border-radius: 2px;
    background-color: #9D9D9D;
}

/* Media Queries */
@media (min-width: 768px) {
    .popup-bottom {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: 260px;
        max-width: 500px;
        border-radius: 24px;
        overflow: hidden;
    }
    
    .popup-content {
        padding: 24px;
    }

    .header-modal-s {
        height: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }
}

.grey-text {
    color: #5E6A71 !important;
    
}

.bg-cb {
    background: #FCF4F7;
    position: relative;
    z-index: 5;

}

.bg-cb-img {
    margin-top: 24px;
}




.sub-text {
    font-size: 24px;
    line-height: 36px;

}

.body-text-primary {
    font-size: 20px;
    line-height: 36px;

}

.responsive-text-align-left-to-center {
    text-align: left;

}

@media (max-width: 768px) {
    
    .responsive-text-align-left-to-center  {
        text-align: center;
    
    }
}


.responsive-text-align-center-to-left {
    text-align: center;

}

@media (max-width: 768px) {
    
    .responsive-text-align-center-to-left {
        text-align: left;
    
    }
}

.space-0 {
    margin-bottom: 72px;
}

.space-1 {
    margin-bottom: 32px;
}

.space-2 {
    margin-bottom: 24px;
}

.space-3 {
    margin-bottom: 16px;
}

.text-help-c {
    color: #5E6A71;
}


.custom-sticky-nav {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: 90px;
    align-items: center;
    z-index: 3;
    width: 100%;
    margin-top: -90px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .custom-sticky-nav {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.custom-footer-raised {
    bottom: -65px;
    position: relative;

}


.sticky-spacer {
    height: 90px;
}

.second-section {
    background: white;
    position: relative;
    z-index: 5;
}